/**
 * Mixins to combine default style settings. 
*/

@mixin flex($jc: flex-start, $alit: flex-start, $fldir: row, $gap: 0, $rgap: 0, $cgap: 0) {
	display: flex;
	justify-content: $jc;
	align-items: $alit;
	flex-direction: $fldir;
	gap: $gap;
	row-gap: $rgap;
	column-gap: $cgap;
	gap: $gap;
}

@mixin absolute($pos: absolute, $top: auto, $left: auto, $bottom: auto, $right: auto) {
	position: $pos;
	top: $top;
	left: $left;
	bottom: $bottom;
	right: $right;
}

@mixin borRad($c: white, $radius: 16px, $thick: 1px, $design: solid) {
    border: $thick $design $c;
    border-radius: $radius;
}

@mixin boxSh($right: 2px, $bottom: 4px, $blur: 2px, $all: 0px, $c: white) {
    // right , bottom, spread, thick around 
    box-shadow: $right $bottom $blur $all $c ;
}

@mixin marpad($pad: 0, $mar: 0) {
	padding: $pad;
	margin: $mar;
}

@mixin limiter($lines: 1) {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: $lines;
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: break-word;
	max-width: 100%;
}

@mixin scrollbar() {
	scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.1) transparent;
}