/**
 * Variables for default design guide of colors.
*/

$highlight-color1: #2A3647;
$highlight-color2: #29ABE2;

$background-color-fields: #FFFFFF;
$background-color-area: #F6F7F8;

$light-grey: #A8A8A8;

$error-color: #800000;
