/* You can add global styles to this file, and also import other style files */
@use '../public/styles/index' as *;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    position: relative;
    list-style: none;
    overflow: hidden;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    max-width: 1920px;
    display: flex;
    flex-direction: column;
    background-color: white;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
}

h1, h2, h3 {
    width: 100%;
}

h1 {
    font-size: clamp(32px, 5dvw, 48px);
}

h2 {
    font-size: clamp(20px, 4dvw, 32px);
}

h3 {
    font-size: clamp(18px, 1.75dvw, 24px);
}

p, 
textarea, 
li,
input, 
span, 
label,
button {
    font-size: clamp(16px, 1dvw, 20px);
}

button,
li,
a {
    cursor: pointer; 
}

